<div class="col-md-8 col-md-offset-2">
<%= link_to("首页", root_path, class: "btn btn-success") %>
<h2>这是您上次考试的错题</h2>

<% @error_records.each_with_index do |r,i| %>
<p style="font-weight: bold;">第 <%= i+1 %> 题:<%= r.stem %></p>
<p><%= r.a %></p>
<p><%= r.b %></p>
<p><%= r.c %></p>
<p><%= r.d %></p>
<p style="color: red;">你的答案：<%= r.rep_answer %></p>
<p>参考答案：<%= r.answer %></p>
<p>注释：<%= r.note %></p>
<br>
<% end %>
</div>
